*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
}


.card{
    width: 30%;
    margin: 20rem auto;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
    border-radius: 1rem;
    overflow: hidden;
    
    

}

.container{
    width: 100%;
    margin: 0 auto;
    
    background-color: #fff;
    
    
}
.img-container{
    
}
p{
    font-size: 1.6rem;
}


.img-container img{
    width: 100%;
    
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem ;

}
.plan-container{
    display: flex;
    gap: 5rem;
    align-items: center;
    background-color: hsl(225, 100%, 94%);
    padding:1rem 2rem;
    border-radius: 5px;
    

    
}
.plan-container a:link,
.plan-container a:active{
    
    font-size: 1.4rem;
    font-weight: 700;
}
.plan-container a:hover{
    color: hsl(245, 75%, 52%);
    text-decoration: none;
    transition: all .2s;
}
.plan-left{
    display:flex;
    
    align-items: center;
    gap: 2rem;
}
.annualplan{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

h2{
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
h2 + p{
    margin-bottom: 2.2rem;
    color: hsl(224, 23%, 55%);
    font-weight: 400;
}
h4{
    font-size: 1.6rem;
    font-weight: 700;
}

.btns{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.btn{
   
    border: none;
    border-radius: 10px;
    padding: 1.2rem 8rem;
    cursor: pointer;

    
}

.btn--pay{
    background-color: hsl(245, 75%, 52%);
    color: #fff;
    font-weight: 600;
    transition: all .2s;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
    
}
.btn--pay:hover,
.btn--pay:active{
    background-color: rgba(56, 41, 224, 0.6);

}
.btn--cancel{
    color:hsl(224, 23%, 55%);
    font-weight: 900;
    background-color: #fff;
    transition: all .2s;

}
.btn--cancel:hover{
color:hsl(223, 47%, 23%);
    
}

@media screen and (max-width:1100px){
    html{
        font-size: 59.5%;
    }
    .card{
        width: 40%;
        
    }
}
@media screen and (max-width:900px){
    html{
        font-size: 59.5%;
    }
    .card{
        width: 60%;
        
    }
}

@media screen and (max-width:600px){
    html{
        font-size: 55.5%;
    }
    .card{
        width: 70%;
   
    }
}

@media screen and (max-width:500px){
    html{
        font-size: 52%;
    }
    .card{
        width: 80%;
      
    }
    .plan-container{
        gap: 5rem;
    
    }
}
@media (min-width:200px) and  (max-width:400px){

    html{
        font-size: 48.5%;
    }
    body{
        background-image: url(./images/pattern-background-mobile.svg);
        background-repeat: no-repeat;
    }
    .card{
        width: 90%;
        margin: 20rem auto;
 
    }
    .plan-container{
        gap: 6rem;
    
    }
}